<div class="row">
        <div class="col">
            <div class="row">
                <mat-card>
                    <div class="col"><img class="img" src="/assets/images/img.png"></div>
                </mat-card>
            </div>
            <div class="row">
            <mat-card>
                This portal can be used by doctors in different areas in order to get help from donners in an emegency
                sitation
                if he/she is willing to donate the blood.
            </mat-card>
        </div>
        </div>
        <div class="col">
            <mat-card>
                <h1>How it works</h1>
            <ul class="list">
                <li>Any person who wants to donate blood in emergency situations can register through this portal.</li>
                <li>He/She must
                    select user type as "donner" while registering. Ones registration is successful a doneer will get notification
                    if there is an emergency in nearest location. </li>
                <li>One more important side of this portal is doctor. A user can regiater 
                    As a doctor in this portal. </li>
                <li>User who registered as a docyor will be able to see a form.He can enter the location
                    of the emergency and select required blood group.</li>
                <li>The portal will show all near by donners available to that location if
                    exist. </li>
                <li>  After that doctor can enter the location and can notify all the donners by sending a quick sms to all. Along with This
                    there is a super user in this portal who can manage all the donners and doctors who have registered through this portal.
                    Super user can view, modify and delete any user's details.
                </li>

              </ul>
            </mat-card>
        </div>
</div>
