<div class="container col-lg-6">
    <h1>Change Password</h1>
    <div class="card">
      <div class="card-body">
 	<form [formGroup]="changePasswordForm" (ngSubmit)="handlechangePassword()" class="form-group">
	<div class="alert alert-warning" *ngIf='!validCurrentPassword'>Current password did not match.</div>
	<div class="alert alert-success" *ngIf='PasswordChangeSuccess'>Password Changed Successfully.</div>
    		<div class="form-group">
      		<label for="name">Current Password</label>
			<input type="password" formControlName="currentpassWord" class="form-control is-invalid" 
			[ngClass]="{ 'is-invalid': submitted && f.currentpassWord.errors }" id="currentpassWord" 
			required [(ngModel)]="currentpassWord" name="currentpassWord" placeholder="Enter Current Password">

			<div *ngIf="submitted && f.currentpassWord.errors" class="invalid-feedback">
                        	<div *ngIf="f.currentpassWord.errors.required">Current Password is required</div>
			</div>
    		</div>

		<div class="form-group">
      		<label for="name">New Password</label>
		     	<input type="password"  formControlName="newpassWord" class="form-control is-invalid"
			  required [(ngModel)]="newpassWord"  [ngClass]="{ 'is-invalid': submitted && f.newpassWord.errors }"
			id="newpassWord" placeholder="Enter atleast 6 character password">

			<div *ngIf="submitted && f.newpassWord.errors" class="invalid-feedback">
                        	<div *ngIf="f.newpassWord.errors.required">New Password is required</div>
                        	<div *ngIf="f.newpassWord.errors.minlength">New Password must contain at least 6 characters</div>
			</div>
    		</div>

		<div class="form-group">
      		<label for="name">Confirm Password</label>
     			<input type="password"  formControlName="confirmnewpassWord" class="form-control is-invalid"
			  required [(ngModel)]="confirmnewpassWord"  [ngClass]="{ 'is-invalid': submitted && f.confirmnewpassWord.errors }"
			id="confirmnewpassWord" placeholder="Confirm New password">

			<div *ngIf="submitted && f.confirmnewpassWord.errors" class="invalid-feedback">
                        	<div *ngIf="f.confirmnewpassWord.errors.required">Confirm Password is required</div>
                        	<div *ngIf="f.confirmnewpassWord.errors.mustMatch">Passwords must match</div>
			</div>
    		</div>

    	 	<div class="text-center">
                 	<button class="btn btn-success">Submit</button>
  			<button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
               </div>
  	</form>
      </div>
    </div>
  </div>
