<div class="example-container" *ngIf="!Donnersloaded">
	<form (ngSubmit)="fatchDonners()">
		<div>
			<label>Required blood group:</label>
			<mat-radio-group [formControl]="bloodGroupFormControl" [(ngModel)]="address.bloodGroup" required>
				<mat-radio-button value="A+">A+</mat-radio-button>
				<mat-radio-button value="A-">A-</mat-radio-button>
				<mat-radio-button value="B+">B+</mat-radio-button>
				<mat-radio-button value="B-">B-</mat-radio-button>
				<mat-radio-button value="AB+">AB+</mat-radio-button>
				<mat-radio-button value="AB-">AB-</mat-radio-button>
				<mat-radio-button value="O+">O+</mat-radio-button>
				<mat-radio-button value="O-">O-</mat-radio-button>
			</mat-radio-group>
			<mat-error *ngIf="bloodGroupFormControl.hasError('required')">
				<strong>Blood group is required</strong>
			</mat-error>
		</div>

		<mat-form-field appearance="fill">
			<mat-select placeholder="Country"  (selectionChange)="onChangeCountry($event.value)" [formControl]="countryFormControl"  required>
				<mat-option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</mat-option>
			</mat-select>
			<mat-label><i>Country</i></mat-label>
			<mat-error *ngIf="countryFormControl.hasError('required')">
				<strong>Country is required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-select placeholder="Country" (selectionChange)="onChangeState($event.value)" [formControl]="stateFormControl" required>
				<mat-option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</mat-option>
			</mat-select>
			<mat-label><i>State</i></mat-label>
			<mat-error *ngIf="stateFormControl.hasError('required')">
				<strong>State is required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-select [formControl]="cityFormControl" (selectionChange)="onChangeCity($event.value)"  required>
				<mat-option *ngFor="let city of cityInfo; let k = index" value="{{city}}">{{city}}</mat-option>
			</mat-select>
			<mat-label><i>City</i></mat-label>
			<mat-error *ngIf="cityFormControl.hasError('required')">
				<strong>City is required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label><i>Postal code</i></mat-label>
			<input matInput [formControl]="postalcodeFormControl" [(ngModel)]="address.zipcode" required>
			<mat-error *ngIf="postalcodeFormControl.hasError('required')">
				<strong>Postal code is required</strong>
			</mat-error>
		</mat-form-field>
		<div><button type="submit" mat-raised-button color="primary">Submit</button></div>
	</form>
</div>
<div *ngIf="Donnersloaded">
	<div *ngIf="!noDonnerFound">
		<div class="row">
			<mat-toolbar>Near by Donners</mat-toolbar>
			<div class="col">
				<table mat-table [dataSource]="donnerList" matSort class="mat-elevation-z8">
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
						<td mat-cell *matCellDef="let donner"> {{donner.name}} </td>
					</ng-container>
					<ng-container matColumnDef="mobileNumber">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No. </th>
						<td mat-cell *matCellDef="let donner"> {{donner.mobileNumber}} </td>
					</ng-container>
					<ng-container matColumnDef="bloodGroup">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Blood group </th>
						<td mat-cell *matCellDef="let donner"> {{donner.bloodGroup}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedCol"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedCol;"></tr>
				</table>
				<mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[2, 3,4,5]">
				</mat-paginator>
			</div>
		</div>
		<div>
			<mat-form-field class="example-full-width">
				<mat-label>Emergency location(Enter valid address)</mat-label>
				<textarea matInput [(ngModel)]="emergencyAddress" placeholder="Ex. Building,Area,society"></textarea>
			</mat-form-field>
		</div>
		<div class="example-button-row">
			<button (click)="sendRequest()" mat-raised-button color="warn">Send a request to all</button>
		</div>
	</div>
	<div *ngIf="noDonnerFound">No near by donner found</div>
	<div *ngIf="noDonnerFound"><button (click)="list()" class="btn btn-success">Back to User List</button></div>
</div>
