<h3>Update User</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="user.userName" name="userName">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.emailId" name="emailId">
    </div>

    <div class="form-group">
      <label for="number">Mobile No.</label>
      <input type="text" class="form-control" id="mobileNumber" required [(ngModel)]="user.mobileNumber" name="mobileNumber">
    </div>
   
   <div class="form-group">
      <label for="name">Age</label>
      <input type="number" class="form-control" id="age" required [(ngModel)]="user.age" name="age">
    </div>

    <div class="form-group">
      <label for="name">Blood Group</label>
      <input type="text" class="form-control" id="bloodGroup" required [(ngModel)]="user.bloodGroup" name="bloodGroup">
    </div>

    <div class="form-group">
      <label for="name">Country</label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="user.country" name="country">
    </div>

    <div class="form-group">
      <label for="name">State</label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="user.state" name="state">
    </div>

   <div class="form-group">
      <label for="name">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="user.city" name="city">
    </div>

    <div class="form-group">
      <label for="name">Pin Code</label>
      <input type="text" class="form-control" id="zipcode" required [(ngModel)]="user.zipcode" name="zipcode">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>


